.header-btn {
  position: absolute;
  right: 0;
  top: 75px;
  display: none;
  opacity: 1;
  width: 40px;
  height: 40px;
  // border: 2px solid #fff;
  margin-left: auto;
  // background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  // z-index: 12000;
  &.active {
    top: 50%;
    transform: translateY(-50%);
  }
}

.header-btn div {
  width: 30px;
  height: 2px;
  background-color: $primary;
  margin: 2px 0;
}

.about__header-btn {
  top: 25px;
}


.mobile__menu {
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  height: 100%;
  background-color: $dark;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  left: 0;
  width: 100%;
  transition: all .5s;
  z-index: 22000;

  .mobile__list {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    .mobile__link {
      color: $yellow;
      font-size: 16px;
      padding-bottom: 15px;
      text-transform: uppercase;
      font-weight: 400;
      transition: all 0.4s;

      &:hover {
        color: $primary;
        box-shadow: inset 0px 16px 19px rgba(0, 0, 0, 0.17);
      }
    }

  }
}

.mobile__menu.active {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.container--menu {
  position: relative;
}

.mobile__close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  right: 15px;
  top: 31px;
  cursor: pointer;
}

.mobile__close-btn::after,
.mobile__close-btn::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 30px;
  background-color: $primary;
  transform-origin: left;
}

.mobile__close-btn::after {
  transform: rotate(45deg);
}

.mobile__close-btn::before {
  transform: rotate(-45deg);
  bottom: 6px;
}