.cont--3 {
  background-image: url('../img/countries/b1.jpg');
}

.app__bgimg-image--5 {
  background: url('../img/countries/b1.jpeg') center center no-repeat;
  background-size: cover;
}

.app__bgimg-image--6 {
  background: url('../img/countries/b1.jpeg') center center no-repeat;
  background-size: cover;
}