.cont--2 {
  background-image: url('../img/countries/ven6.jpg');
  background-size: cover;
}

.app__bgimg-image--3 {
  background: url('../img/countries/ven6.jpeg') center center no-repeat;
  background-size: cover;
}

.app__bgimg-image--4 {
  background: url('../img/countries/ven6.jpeg') center center no-repeat;
  background-size: cover;
}